
<div class="jumbotron jumbotron-fluid" 
  style="background-image: url('../../assets/cover.png');
        object-fit: cover;" >
      <div class="container">
          <h1 class="display-4" style="font-weight: bold;"><a style="color: rgb(255, 233, 35);">Dev</a><a style="color: rgb(255, 255, 255);">eloper </a><a style="color:rgb(255, 233, 35);">Ess</a><a style="color: rgb(255, 255, 255);">ential</a></h1>

            

          <p class="lead" style="color: rgb(204, 204, 204); font-size: 16px;">As a developer, nothing is more helpful than a website that has a list of all the important websites, resources and etc, etc in one place. So for that reason, I created <a style ="color: rgb(255, 233, 35);">DevEss</a> to scratch my own itch by starting a curation of such resources 🚀</p>
      </div>
  </div>