
<div class="jumbotron jumbotron-fluid" 
  style="background-image: url('../../assets/cover.png');
        object-fit: cover;" >
      <div class="container">
          <h1 class="display-4" style="font-weight: bold;"><a style="color: rgb(255, 233, 35);">Dev</a><a style="color: rgb(255, 255, 255);">eloper </a><a style="color:rgb(255, 233, 35);">Ess</a><a style="color: rgb(255, 255, 255);">ential</a></h1>

            

          <p class="lead" style="color: rgb(204, 204, 204); font-size: 16px;">As a developer, nothing piques my interest more than developer swag, internships and other essentials!
            I created <a style ="color: rgb(255, 233, 35);">DevEss</a> to scratch my own itch by starting a curation of such opportunities. These
              are crowdsourced and verified by the community. All of them ship worldwide! 🚀</p>
      </div>
  </div>