
<div class="container" style="padding: 2em 0 2em 0;">
    <div id="form">
        <label for="category">Category</label>
        <select (change)="select($event)" class="form-control" required >
            <option>Swags</option>
            <option>Internships</option>
            <option>Competitions</option>
            <option>Useful Websites</option>
            <option>Study Materials</option>
            <option>Coffee</option>
        </select>
    </div>
</div>
<div>
    <div style="padding-bottom: 2em;">
        Select a category from the above beep beep 🙄
    </div>
    <div class="row mt-3 d-flex justify-content-center" id="outerdivcontent">
        <div *ngFor="let data of data | async" class="card m-10 shadow-sm rounded col-md-6" style="width: 30rem;margin: 2em;" id="imgdiv">
        <a href={{data.link}} target="_blank" rel="noopener noreferrer" ><img class="card-img-top" [src]=data.image id="imageSRC"></a> 
        <div class="card-body">
            <h5 class="card-title" id="title">{{data.title}}</h5>
            <p class="card-text" id="desc">{{data.desc}}</p>
            <a href={{data.link}} target="_blank" rel="noopener noreferrer"><button class="btn btn-dark" >Check it
                    out</button></a>
        </div>
    </div>
   
</div>    

</div>
